/* Write your code here. */
.backgroundu {
  background-color: #0f172a;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.total {
  display: flex;
  flex-direction: column;
}
.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
}
imagilu {
  display: flex;
  flex-direction: row;
}
.size {
  min-height: 200px;
  min-width: 150px;
}
